__pycache__/
build/
.venv/
.client-venv/
/client/.venv/
/client/bin/
/client/config.json
/client/.asset-state.json
/server-config.json
bin/
output/
*.egg-info/
*.so
*.mp4
/voice.wav

tmp*
trial*/

data
!data/
data/*
!data/products.json
!data/scripts.yaml
!data/custom_config.json
data_utils/face_tracking/3DMM/*
data_utils/face_parsing/79999_iter.pth

pretrained
*.mp4
.DS_Store
.env
workspace/log_ngp.txt
.idea
/models/
*.log
dist
